<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <app-shared-header-unrouted [strTitulo]="'Articulos de Usuarios'" [strIcono1]="'list'" [strIcono2]="'person-circle'"></app-shared-header-unrouted>

      <div class="d-inline-flex mx-2">
        <input type="text" class="form-control" placeholder="Buscar" (keyup)="filter($event)" [(ngModel)]="strFiltro" />
      </div>

      <div class="d-flex justify-content-between">
        @if (strFiltro.length>0) {
        <h5 class="text-muted">
          Filtrado por: <span class="text-danger">{{ strFiltro }}</span>
        </h5>
        } @else{
        <h5 class="text-muted">Sin filtrar</h5>
        }
        <h5 class="text-muted">
          Mostrando {{ oPage?.numberOfElements | number : "1.0-0" }} de
          {{ oPage?.totalElements | number : "1.0-0" }}
        </h5>
      </div>

      <div class="d-flex flex-row flex-wrap">

            @for (articulo of oPage?.content; track articulo.id) {
            
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ articulo.nombre | trim : 10 }}</h5>
                  <p class="card-text">{{ articulo.descripcion }}</p>
                  <p class="card-text">Precio: {{ articulo.precio }} €</p>
                  <button type="button" class="btn btn-primary" (click)="view(articulo)">
                    v
                  </button>
                </div>
              </div>

            } @empty {
              <p>No hay articulos</p>
            }
      </div>
    </div>
  </div>
</div>


<div class="">
  <nav class="my-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.active]="nRpp === 10">
        <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
      </li>
      <li class="page-item" [class.active]="nRpp === 50">  
        <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
      </li>
      <li class="page-item" [class.active]="nRpp === 100">
        <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container pb-5">
  <nav class="my-2">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" [class.disabled]="nPage - -1 === 1" (click)="goToPrev()" href="#">
          Anterior
          <i class="bi bi-caret-left-square-fill"></i>
        </a>
      </li>
  
      <li class="page-item" *ngFor="let pag of arrBotonera">
        @if(pag==='...'){
        <a class="page-link">{{ pag }}</a>
        } @else {
        <a class="page-link" href="#" (click)="goToPage(-(-pag))" [class.active]="nPage - -1 === -(-pag)">
          {{ pag }}
        </a>
        }
      </li>
  
      <li class="page-item">
        <a class="page-link" [class.disabled]="nPage - -1 === oPage?.totalPages" (click)="goToNext()" href="#">
          <i class="bi bi-caret-right-square-fill"></i>
          Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
